In [1]:
##Author - Ashish Kumar Jayant

import pandas as pd
from surprise.prediction_algorithms.knns import KNNWithMeans as knn
from surprise import Dataset
from surprise import evaluate

In [3]:
# reading the data
header1 = ['user_id', 'item_id', 'rating', 'timestamp']
df_data = pd.read_csv('u.data', sep='\t', names=header1)
header2 = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
df_user = pd.read_csv('u.user', sep='|', names=header2)
header3 = ['movie_id', 'movie_title', 'release_date', 'video_release_date', 'IMDb_URL', 'unknown', 'Action', 'Adventure',
           'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror',
           'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
df_item = pd.read_csv('u.item', sep='|', names=header3, encoding='latin-1')

## KNN using the Surprise Package

In [4]:
header = ['user_id', 'item_id', 'rating', 'timestamp']
df = pd.read_csv('u.data', sep='\t', names=header)

In [4]:
data = Dataset.load_builtin('ml-100k')
data.split(n_folds=3)

In [34]:
algo = knn(k=10, min_k=1)

In [35]:
for trainset, testset in data.folds():
    algo.train(trainset)
    pred = algo.test(testset)

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.

In [36]:
perf = evaluate(algo, data, measures=['RMSE', 'MAE'])

Evaluating RMSE, MAE of algorithm KNNWithMeans.

------------
Fold 1
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.9784
MAE:  0.7741
------------
Fold 2
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.9822
MAE:  0.7749
------------
Fold 3
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.9815
MAE:  0.7746
------------
------------
Mean RMSE: 0.9807
Mean MAE : 0.7745
------------
------------

In [37]:
pred[:5]

[Prediction(uid='373', iid='82', r_ui=1.0, est=3.9656888385533366, details={'actual_k': 10, 'was_impossible': False}),
 Prediction(uid='464', iid='300', r_ui=4.0, est=3.8758862883750909, details={'actual_k': 10, 'was_impossible': False}),
 Prediction(uid='537', iid='195', r_ui=3.0, est=2.7744638393207217, details={'actual_k': 10, 'was_impossible': False}),
 Prediction(uid='405', iid='551', r_ui=1.0, est=1, details={'actual_k': 10, 'was_impossible': False}),
 Prediction(uid='332', iid='871', r_ui=3.0, est=3.2037880177472084, details={'actual_k': 10, 'was_impossible': False})]

## Predict the ratings for one user for example user_id = 942

In [38]:
predict = []
for i in range(1682):
    predict.append(algo.predict('942', str(i), r_ui=testset).est)

In [39]:
# Top 10 ratings
top = sorted(predict, reverse=True)[:10]
top

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

## Get index of the top 10 recommended movies

In [40]:
get_indexes = lambda x, xs: [i for (y, i) in zip(xs, range(len(xs))) if x == y]

In [41]:
get_indexes

In [42]:
indexes = []
predict = list(predict)
count = 1
for i in top:
    if predict.index(i) in indexes:
        indexes.append(get_indexes(i, predict)[count])
        count += 1
    else:
        indexes.append(predict.index(i))
indexes

[50, 71, 97, 132, 172, 215, 265, 272, 273, 282]

## Get the names of movies user has rated

In [90]:
y = pd.DataFrame(df[(df.user_id == 942) & (df.rating > 4)  ]['item_id'])

In [91]:
df_item.shape

(1682, 24)

In [92]:
for i in y.item_id:
    print(df_item[df_item['movie_id']==i]['movie_title'])

422    E.T. the Extra-Terrestrial (1982)
Name: movie_title, dtype: object
426    To Kill a Mockingbird (1962)
Name: movie_title, dtype: object
346    Wag the Dog (1997)
Name: movie_title, dtype: object
303    Fly Away Home (1996)
Name: movie_title, dtype: object
192    Right Stuff, The (1983)
Name: movie_title, dtype: object
30    Crimson Tide (1995)
Name: movie_title, dtype: object
130    Breakfast at Tiffany's (1961)
Name: movie_title, dtype: object
499    Fly Away Home (1996)
Name: movie_title, dtype: object
171    Empire Strikes Back, The (1980)
Name: movie_title, dtype: object
606    Rebecca (1940)
Name: movie_title, dtype: object
495    It's a Wonderful Life (1946)
Name: movie_title, dtype: object
94    Aladdin (1992)
Name: movie_title, dtype: object
49    Star Wars (1977)
Name: movie_title, dtype: object
1049    Ghost and Mrs. Muir, The (1947)
Name: movie_title, dtype: object
96    Dances with Wolves (1990)
Name: movie_title, dtype: object
527    Killing Fields, The (1984)
Name: movie_title, dtype: object
658    Arsenic and Old Lace (1944)
Name: movie_title, dtype: object
483    Maltese Falcon, The (1941)
Name: movie_title, dtype: object
70    Lion King, The (1994)
Name: movie_title, dtype: object
173    Raiders of the Lost Ark (1981)
Name: movie_title, dtype: object
271    Good Will Hunting (1997)
Name: movie_title, dtype: object
98    Snow White and the Seven Dwarfs (1937)
Name: movie_title, dtype: object
78    Fugitive, The (1993)
Name: movie_title, dtype: object
264    Hunt for Red October, The (1990)
Name: movie_title, dtype: object
519    Great Escape, The (1963)
Name: movie_title, dtype: object
479    North by Northwest (1959)
Name: movie_title, dtype: object
299    Air Force One (1997)
Name: movie_title, dtype: object
214    Field of Dreams (1989)
Name: movie_title, dtype: object
281    Time to Kill, A (1996)
Name: movie_title, dtype: object
434    Butch Cassidy and the Sundance Kid (1969)
Name: movie_title, dtype: object
477    Philadelphia Story, The (1940)
Name: movie_title, dtype: object
317    Schindler's List (1993)
Name: movie_title, dtype: object
196    Graduate, The (1967)
Name: movie_title, dtype: object
944    Charade (1963)
Name: movie_title, dtype: object
497    African Queen, The (1951)
Name: movie_title, dtype: object

## Top 10 recommendations

In [80]:
for i in indexes:
    movie = df_item.movie_title[df_item['movie_id'] == i+1]
    print(movie)

814    One Fine Day (1996)
Name: movie_title, dtype: object
1467    Cure, The (1995)
Name: movie_title, dtype: object
1599    Guantanamera (1994)
Name: movie_title, dtype: object
1500    Prisoner of the Mountains (Kavkazsky Plennik) ...
Name: movie_title, dtype: object
1367    Mina Tannenbaum (1994)
Name: movie_title, dtype: object
1639    Eighth Day, The (1996)
Name: movie_title, dtype: object
1653    Chairman of the Board (1998)
Name: movie_title, dtype: object
1642    Angel Baby (1995)
Name: movie_title, dtype: object
1449    Golden Earrings (1947)
Name: movie_title, dtype: object
1293    Ayn Rand: A Sense of Life (1997)
Name: movie_title, dtype: object